/* CSS Document */

/*----------------PARALLAX IMAGE-----------------*/
.parallax {
	min-height: 450px;
	background: transparent;
	padding-top: 35px;
}


body {
	color: black; /*(default font color for the entire page)*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; /*(font thickness)*/
	-webkit-font-smoothing: antialiased;/*(helps with readability)*/
}

/*----------------navigation section-----------------*/
header {
	height: 130px; /*(height of nav bar)*/
	position: fixed; /*(keeps nav bar visible when scrolling)*/
	width: 100%;
	top: 0;
	z-index: 5; /*(ensures nav bar appears in front of other elements)*/
	font-size: 1.3em;
    transition: top 0.2s ease-in-out;
    background-color: rgb(242,187,47);
    opacity: 0.75;
}

/*----------------navigation container-----------------*/
.nav-container {
  margin: 0 auto;
}

/*----------------text-based logo-----------------*/
.brand {
    float: left;
    padding-left: 26px
}

/*----------------mobile navigation--------------------*/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #f3bd44;
  height: 70px;
  width: 70px;
}

/*----------------navigation buttons-----------------*/
nav {
  float: right;
      padding-right: 2%;

}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 25px;
    line-height: 130px;
    background-color: rgb(242,187,47);
    color: rgb(185,22,46);
    text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    background-color: #456c3a;
    color: #FFFFFF;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' Ã¢â€“Â¾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 5;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}	

a.text:link, a.text:visited {
    background-color: #68ACF0;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
}
a.text:hover, a.text:active {
    background-color: white;
    color: black;
}
.row a{
	color: rgb(242,187,47);
    font-family: 'Ubuntu', sans-serif;
    padding: .5rem 1rem;
    border-radius: 30px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    display: block;
    width: 175px;
    letter-spacing: .3px;
    font-size: 16px;
    font-weight: 600;
    line-height: initial;
    background: #456c3a;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 96%;
	text-decoration: none;
}
.row a:hover{
	    background-color: #3b7c1c;
    color: rgb(242,187,47);
	    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}
/*----------------media queries-----------------*/

/*If device width is less than or equal to 800px, then do ...*/
@media only screen and (max-width: 800px) {

    h2 {
        font-size: 35px !important;
    }
  .nav-mobile {
    display: block;
      background-color: #456c3a;
      opacity: 0.75;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background-color: white;
    opacity: 0.75;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  } 
    
  .brand {
	position: absolute;
	padding-left: 80px;
	float: left;
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: small;
  }
	
	.image2 {
	cursor:pointer;
	width: 90%;
	height: 90%;
}
	
}
@media screen and (min-width: 800px) {  
    
/*-----styles for jquery dropdown menu-----*/
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #f3bd44;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*----------------Main Content Area(this is where all the content below the navigation bar will go)--*/
.row {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0; /*(centers content within the row)*/
	position: relative;
	padding: 65px 45px;
    text-align: center;
}

article {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
}

h1 {
	line-height: 1.5;
	text-transform: uppercase;
	font-size: 16px;
    color: lightgray;
}

h2 {
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: rgb(225,38,47);
    margin: 0;
    line-height: initial;
    -webkit-animation:colorchange 10s infinite alternate;
}

h3 {
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color: rgb(242,187,61); 
    margin: 0;
    line-height: initial;-webkit-animation:colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
      0% {
          color: rgb(225,38,47);
    }
    20%{color: #f3bd44;
    }
    40%{color:#b82a2e;
    }
    60%{color: #456c3a;
    }
    80%{color: #3b7c1c;
    }
    }
p {
	line-height: 1.5;
}

/*----------------SLIDESHOW-----------------*/

#slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
  position: relative;        
}

/* prev / next links */
.cycle-prev, .cycle-next { 
  position: absolute;
  top: 0;
  width: 15%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer; 
  }
  
.cycle-prev { 
  left: 0;
  background: url(img/arrowleft.png) 50% 50% no-repeat;
  }
  
.cycle-next { 
right: 0;
background: url(img/arrowright.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover { 
opacity: 1;
filter: alpha(opacity=70)
}


/* captions below slideshow*/
#alt-caption {
    background-color: black;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#audio-caption {
    background-color: black;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*----------------VIDEO-----------------*/
video {
    position: relative;
    width: 100%;    
}

/*----------------FOOTER-----------------*/
footer {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	font-size: 10px;
}
#footer:hover {
	bottom: 0;
}
/*(footer links)*/
footer a {
	text-decoration: none; /*(nullifies underline)*/
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
}
/*(link color when moused over)*/
footer a:hover {
	color: #f3bd44;
}


/*----------------AUDIO BOARD-----------------*/

.table {
	position: relative;
	text-align: center;
	color: greenyellow;
	font-size: 0vw;
    
}

.trip {text-align:center;}

.trip img{
  display:inline-block;
  width:30%;
  margin:0 1% 0 1%;
  }

.rollover {
	cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

/*--------------background colors----------*/
.whiteBG {
	background-color: white;
}
.titleBG {
	background: rgb(227,53,48);
background: radial-gradient(circle, rgba(227,53,48,1) 25%, rgba(243,189,68,1) 65%);
}
.blueBG {
	background: rgb(225,38,47);
background: linear-gradient(90deg, rgba(225,38,47,1) 70%, rgba(59,124,19,1) 100%);
}

.orangeBG {
	background: rgb(70,107,61);
background: linear-gradient(90deg, rgba(70,107,61,1) 0%, rgba(255,190,61,1) 30%);
}

/*----------------back to top button-----------------*/
#myBtn {
  
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #456c3a; /* Set a background color */
  color: #f3bd44; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px; /* Increase font size */
}

#myBtn:hover {
  background-color: #e33530;
  opacity: 0.75;   
}

/*-----Main image-----*/
.title {opacity:0;
-moz-transition: opacity 2s; /* Firefox 4 */
-webkit-transition: opacity 2s; /* Safari and Chrome */
-o-transition: opacity 2s;
transition: opacity 5s;
width: 100%;
height: auto;
}
/*----smooth scroll----*/
html {
  scroll-behavior: smooth
}

/*----menu dissapear when scroll---*/
.nav-up {
  top: -105px; 
}